{

  success : true,
  data : {
    {
        devicename: "Sensor 1",
        temruar
    }
    {
        devicename: "Sensor 1",
        temruar
    }
    {
        devicename: "Sensor 1",
        temruar
    }
  }
}

id device + name + ip adress + last update(akhir value dkhlt) + status(active par defaut)
data{
    id-device : id , 
    name : name , 

        latest-readings:{
            temperature: 20,
            humidity: 50,
            pressure: 1000,
            last-update: "2021-01-01 12:00:00"
        }

}